@model Gestion.Web.Models.Clientes

@{
    ViewData["Title"] = "Detalle del Cliente";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Sistema de gestíon
            <small>Gestion de Clientes</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-controller="Home"><i class="fas fa-tachometer-alt"></i> Inicio</a></li>
            <li><a asp-controller="Clientes">Listado de Clientes</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Ficha del Cliente</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div class="box-body">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Codigo)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Codigo)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.RazonSocial)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.RazonSocial)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.NroDocumento)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.NroDocumento)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.CuilCuit)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.CuilCuit)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.FechaNacimiento)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.FechaNacimiento)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.ProvinciaId)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.ProvinciaId)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Localidad)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Localidad)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.CodigoPostal)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.CodigoPostal)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Calle)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Calle)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CalleNro)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.CalleNro)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.PisoDpto)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.PisoDpto)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.OtrasReferencias)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.OtrasReferencias)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Telefono)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Telefono)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Celular)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Celular)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Email)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Email)
                                </dd>
                            </dl>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar datos del Cliente</a>
                            <a asp-action="Index" class="btn btn-default pull-right">Volver al Listado</a>                            
                        </div>
                    </form>
                </div>
                <!-- /.box -->
            </div>
            <!--/.col-->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
