@model Gestion.Web.Models.ComprobantesReciboDTO

@{
    ViewData["Title"] = "Detalle del Cliente";
    var SaldoDTO = (ComprobantesDTO)ViewData["Saldo"];
    var formasPagos = (IEnumerable<FormasPagos>)ViewData["FormasPagos"];
    var formasPagosTMP = (IEnumerable<ComprobantesFormasPagosDTO>)ViewData["FormasPagosTMP"];

    decimal TotalRec = 0;
    foreach (var totalRec in formasPagosTMP)
    {
        if (totalRec.FormaPagoTipo == "E")
        {
            TotalRec = TotalRec + (totalRec.Total);
        }
        else
        {
            TotalRec = TotalRec + (totalRec.Cuota * totalRec.Importe);
        }

    }
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Sistema de gestíon
            <small>Gestion de Clientes</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index"><i class="fas fa-tachometer-alt"></i> Inicio</a></li>
            <li><a asp-controller="Clientes" asp-action="Index">Listado de Clientes</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <partial name="_ClienteDetalle" model='ViewData["Cliente"]' />
            </div>
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Generar Recibo</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form asp-action="Recibo" enctype="multipart/form-data">
                        <div class="box-body">
                            <div class="box-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <input type="hidden" asp-for="ClienteId" />
                                <input type="hidden" asp-for="ComprobanteId" />
                                
                                <div class="form-group">
                                    <label class="control-label">Saldo</label>                                    
                                    <input value="@(SaldoDTO.Saldo  - TotalRec)" readonly class="form-control input-sm" />

                                </div>

                                <div class="form-group">
                                    <label class="control-label">Importe del Recibo</label>
                                    <input value="@Math.Round(TotalRec,2)" asp-for="Importe" readonly class="form-control input-sm" />
                                    <span asp-validation-for="Importe" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="box-footer">
                                @if (formasPagosTMP.Count() == 0)
                                {
                                    <input type="submit" value="Generar Recibo" disabled class="btn btn-primary" />
                                }
                                else { 
                                    <input type="submit" value="Generar Recibo" class="btn btn-primary" />
                                }
                                    

                                <a asp-action="ComprobanteDetalle" asp-route-id="@Model.ComprobanteId" class="btn btn-default pull-right">Volver</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                <!-- /.box -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">
                            Formas de Pagos
                        </h3>
                    </div>
                    <div class="box-body">
                        @foreach (var item in formasPagos)
                        {
                            switch (item.Tipo)
                            {
                                case "E":
                                    <a class="btn btn-block btn-social btn-danger " asp-action="Efectivo" asp-route-id="@Model.ComprobanteId" asp-route-fp="@item.Id">
                                        <i class="fa fa-bitbucket"></i> @item.Descripcion
                                    </a>
                                    break;
                                case "C":
                                    <a class="btn btn-block btn-social btn-primary" asp-action="TarjetaCredito" asp-route-id="@Model.ComprobanteId" asp-route-fp="@item.Id">
                                        <i class="fa fa-bitbucket"></i> @item.Descripcion
                                    </a>
                                    break;
                                case "D":
                                    <a class="btn btn-block btn-social btn-success" asp-action="TarjetaDebito" asp-route-id="@Model.ComprobanteId" asp-route-fp="@item.Id">
                                        <i class="fa fa-bitbucket"></i> @item.Descripcion
                                    </a>
                                    break;
                                case "X":
                                    <a class="btn btn-block btn-social btn-warning" asp-action="Cheque" asp-route-id="@Model.ComprobanteId" asp-route-fp="@item.Id">
                                        <i class="fa fa-bitbucket"></i> @item.Descripcion
                                    </a>
                                    break;
                                case "O":
                                    <a class="btn btn-block btn-social btn-bitbucket" asp-action="Otro" asp-route-id="@Model.ComprobanteId" asp-route-fp="@item.Id">
                                        <i class="fa fa-bitbucket"></i> @item.Descripcion
                                    </a>
                                    break;
                                case "U":
                                    <a class="btn btn-block btn-social btn-default" asp-action="Dolar" asp-route-id="@Model.ComprobanteId" asp-route-fp="@item.Id">
                                        <i class="fa fa-bitbucket"></i> @item.Descripcion
                                    </a>
                                    break;
                                default:
                                    break;
                            }
                        }

                        @if (formasPagos.Count() == 0)
                        {
                            <a class="btn btn-block">
                                <i class="fa fa-bitbucket"></i> No existen Formas de Pagos
                            </a>
                        }
                    </div>
                </div>
                <!-- /.box -->
            </div>

            <div class="col-md-6">
                <!-- /.box -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">
                            Formas de Pagos
                        </h3>
                    </div>
                    <div class="box-body">
                        @foreach (var item in formasPagosTMP)
                        {
                            switch (item.FormaPagoTipo)
                            {
                                case "E":
                                    <div class="panel box box-solid box-danger">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#@item.Id">
                                                    @item.FormaPago - Total: @item.Total

                                                </a>
                                            </h4>
                                        </div>
                                        <div id="@item.Id" class="panel-collapse collapse">
                                            <div class="box-body">
                                                <p>Total: @item.Total </p>
                                                <p>Total Cancela: @item.Importe </p>
                                                @if (item.Descuento != 0)
                                                {
                                                    <p>Descuento x pago de Contado: @item.Descuento </p>
                                                }

                                                <p>Observaciones: @item.Observaciones</p>
                                                <p>Usuario: @item.UsuarioAlta </p>
                                                <p>Fecha: @item.FechaAlta</p>

                                                <a class="btn btn-danger btn-sm pull-right" asp-action="DeleteFormaPago" asp-route-id="@item.Id" asp-route-comp="@Model.ComprobanteId"><i class="glyphicon glyphicon-remove"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    break;
                                case "C":
                                    <div class="panel box box-solid box-primary">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#@item.Id">
                                                    @item.FormaPago (@item.TarjetaNombre) - Total: @(decimal.Round(item.Cuota * item.Importe, 2))
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="@item.Id" class="panel-collapse collapse">
                                            <div class="box-body">
                                                <p>Tarjeta: @item.TarjetaNombre </p>
                                                <p>Nombre: @item.TarjetaCliente </p>
                                                <p>Numero: @item.TarjetaNumero - Vence: @item.TarjetaVenceAño / @item.TarjetaVenceMes </p>
                                                <p>Total Cancela: @item.Total </p>
                                                <p>Cantidad Cuotas: @item.Cuota - Importe de la Cuota: @(decimal.Round(item.Importe,2)) - Interes: @item.Interes</p>
                                                <p>Total con Interes: @(decimal.Round(item.Cuota * item.Importe, 2))</p>
                                                <p>
                                                    Codigo Autorizacion: @item.CodigoAutorizacion
                                                </p>
                                                <p>Observaciones: @item.Observaciones</p>
                                                <p>Usuario: @item.UsuarioAlta </p>
                                                <p>Fecha: @item.FechaAlta</p>

                                                <a class="btn btn-danger btn-sm pull-right" asp-action="DeleteFormaPago" asp-route-id="@item.Id" asp-route-comp="@Model.ComprobanteId"><i class="glyphicon glyphicon-remove"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    break;
                                case "D":
                                    <div class="panel box box-solid box-success">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#@item.Id">
                                                    @item.FormaPago (@item.TarjetaNombre) - Total: @item.Total
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="@item.Id" class="panel-collapse collapse">
                                            <div class="box-body">
                                                <p>Tarjeta: @item.TarjetaNombre </p>
                                                <p>Nombre: @item.TarjetaCliente </p>
                                                <p>Numero: @item.TarjetaNumero - Vence: @item.TarjetaVenceAño / @item.TarjetaVenceMes </p>
                                                <p>Total Cancela: @item.Total </p>
                                                <p>
                                                    Codigo Autorizacion: @item.CodigoAutorizacion
                                                </p>
                                                <p>Observaciones: @item.Observaciones</p>
                                                <p>Usuario: @item.UsuarioAlta </p>
                                                <p>Fecha: @item.FechaAlta</p>

                                                <a class="btn btn-danger btn-sm pull-right" asp-action="DeleteFormaPago" asp-route-id="@item.Id" asp-route-comp="@Model.ComprobanteId"><i class="glyphicon glyphicon-remove"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    break;
                                case "X":
                                    <div class="panel box box-solid box-warning">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#@item.Id">
                                                    @item.FormaPago - Total: @item.Total
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="@item.Id" class="panel-collapse collapse">
                                            <div class="box-body">
                                                <p>Numero: @item.ChequeNumero </p>
                                                <p>Nombre: @item.ChequeNombre </p>
                                                <p>Cuit: @item.ChequeCuit </p>
                                                <p>Fecha: @item.ChequeFechaEmision </p>
                                                <p>Vence: @item.ChequeFechaVencimiento </p>
                                                <p>Cuit: @item.ChequeCuenta</p>
                                                <p>Total: @item.Total </p>

                                                @if (item.Descuento != 0)
                                                {
                                                    <p>Descuento: @item.Descuento </p>
                                                }
                                                @if (item.Interes != 0)
                                                {
                                                    <p>Recargo: @item.Interes </p>
                                                }

                                                <p>Total Cancela: @item.Importe</p>
                                                <p>Observaciones: @item.Observaciones</p>
                                                <p>Usuario: @item.UsuarioAlta </p>
                                                <p>Fecha: @item.FechaAlta</p>

                                                <a class="btn btn-danger btn-sm pull-right" asp-action="DeleteFormaPago" asp-route-id="@item.Id" asp-route-comp="@Model.ComprobanteId"><i class="glyphicon glyphicon-remove"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    break;
                                case "O":
                                    <div class="panel box box-solid box-primary">
                                        <div class="box-header  with-border">
                                            <h4 class="box-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#@item.Id">
                                                    @item.FormaPago - Total: @item.Total
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="@item.Id" class="panel-collapse collapse">
                                            <div class="box-body">
                                                <p>Total: @item.Total </p>
                                                <p>Forma Pago: @item.Otros</p>
                                                <p>Observaciones: @item.Observaciones</p>
                                                <p>Usuario: @item.UsuarioAlta </p>
                                                <p>Fecha: @item.FechaAlta</p>

                                                <a class="btn btn-danger btn-sm pull-right" asp-action="DeleteFormaPago" asp-route-id="@item.Id" asp-route-comp="@Model.ComprobanteId"><i class="glyphicon glyphicon-remove"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    break;
                                case "U":
                                    <div class="panel box box-solid box-default">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#@item.Id">
                                                    @item.FormaPago - Total: @item.Total

                                                </a>
                                            </h4>
                                        </div>
                                        <div id="@item.Id" class="panel-collapse collapse">
                                            <div class="box-body">
                                                <p>Total: @item.Total </p>
                                                <p>Importe en Dolares: @item.DolarImporte </p>
                                                <p>Cotizacion: @item.DolarCotizacion </p>

                                                @if (item.Descuento != 0)
                                                {
                                                    <p>Descuento: @item.Descuento </p>
                                                }
                                                @if (item.Interes != 0)
                                                {
                                                    <p>Recargo: @item.Interes </p>
                                                }
                                                <p>Total Cancela: @item.Importe</p>


                                                <p>Observaciones: @item.Observaciones</p>
                                                <p>Usuario: @item.UsuarioAlta </p>
                                                <p>Fecha: @item.FechaAlta</p>

                                                <a class="btn btn-danger btn-sm pull-right" asp-action="DeleteFormaPago" asp-route-id="@item.Id" asp-route-comp="@Model.ComprobanteId"><i class="glyphicon glyphicon-remove"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    break;
                                default:
                                    break;
                            }
                        }
                        @if (formasPagosTMP.Count() == 0)
                        {
                            <div class="alert alert-bitbucket alert-dismissible">
                                <h4>
                                    <i class="icon fa fa-bitbucket"></i> No hay formas de pagos seleccionados
                                </h4>
                            </div>
                        }
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}    
}
