@model Gestion.Web.Models.ComprobantesReciboDTO

@{
    ViewData["Title"] = "Detalle del Cliente";
    var SaldoDTO = (ComprobantesDTO)ViewData["Saldo"];
    var formasPagos = (IEnumerable<FormasPagos>)ViewData["FormasPagos"];
    var formasPagosTMP = (IEnumerable<ComprobantesFormasPagosDTO>)ViewData["FormasPagosTMP"];

}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Sistema de gestíon
            <small>Gestion de Clientes</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index"><i class="fas fa-tachometer-alt"></i> Inicio</a></li>
            <li><a asp-controller="Clientes" asp-action="Index">Listado de Clientes</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <partial name="_ClienteDetalle" model='ViewData["Cliente"]' />
            </div>
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Generar Recibo</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form asp-action="Recibo" enctype="multipart/form-data">
                        <div class="box-body">
                            <div class="box-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <input type="hidden" asp-for="ClienteId" />
                                <input type="hidden" asp-for="ComprobanteId" />
                                
                                <div class="form-group">
                                    <label class="control-label">Saldo</label>
                                    <input value="@(SaldoDTO.Saldo - formasPagosTMP.Sum(x => x.Total))" readonly class="form-control input-sm" />

                                </div>

                                <div class="form-group">
                                    <label class="control-label">Importe a Pagar</label>
                                    <input value="@formasPagosTMP.Sum(x => x.TotalLista)" asp-for="Importe" readonly class="form-control input-sm" />
                                    <span asp-validation-for="Importe" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="box-footer">
                                @if (formasPagosTMP.Count() == 0)
                                {
                                    <input type="submit" value="Generar Recibo" disabled class="btn btn-primary" />
                                }
                                else { 
                                    <input type="submit" value="Generar Recibo" class="btn btn-primary" />
                                }
                                    

                                <a asp-action="ComprobanteDetalle" asp-route-id="@Model.ComprobanteId" class="btn btn-default pull-right">Volver</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                <!-- /.box -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">
                            Formas de Pagos
                        </h3>
                    </div>
                    <div class="box-body">
                        @foreach (var item in formasPagos)
                        {
                            switch (item.Tipo)
                            {
                                case "E":
                                    <a class="btn btn-block btn-social btn-danger " asp-action="Efectivo" asp-route-id="@Model.ComprobanteId" asp-route-fp="@item.Id">
                                        <i class="fa fa-bitbucket"></i> @item.Descripcion
                                    </a>
                                    break;
                                case "C":
                                    <a class="btn btn-block btn-social btn-primary" asp-action="TarjetaCredito" asp-route-id="@Model.ComprobanteId" asp-route-fp="@item.Id">
                                        <i class="fa fa-bitbucket"></i> @item.Descripcion
                                    </a>
                                    break;
                                case "D":
                                    <a class="btn btn-block btn-social btn-success" asp-action="TarjetaDebito" asp-route-id="@Model.ComprobanteId" asp-route-fp="@item.Id">
                                        <i class="fa fa-bitbucket"></i> @item.Descripcion
                                    </a>
                                    break;
                                case "X":
                                    <a class="btn btn-block btn-social btn-warning" asp-action="Cheque" asp-route-id="@Model.ComprobanteId" asp-route-fp="@item.Id">
                                        <i class="fa fa-bitbucket"></i> @item.Descripcion
                                    </a>
                                    break;
                                case "O":
                                    <a class="btn btn-block btn-social btn-bitbucket" asp-action="Otro" asp-route-id="@Model.ComprobanteId" asp-route-fp="@item.Id">
                                        <i class="fa fa-bitbucket"></i> @item.Descripcion
                                    </a>
                                    break;
                                default:
                                    break;
                            }
                        }

                        @if (formasPagos.Count() == 0) 
                        { 
                            <a class="btn btn-block">
                                <i class="fa fa-bitbucket"></i> No existen Formas de Pagos
                            </a>
                        }
                    </div>
                </div>
                <!-- /.box -->
            </div>

            <div class="col-md-6">
                <!-- /.box -->
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">
                            Formas de Pagos
                        </h3>
                    </div>
                    <div class="box-body">
                        @foreach (var item in formasPagosTMP)
                        {
                            switch (item.FormaPagoTipo)
                            {
                                case "E":
                                    <div class="alert alert-danger alert-dismissible">
                                        <h4>
                                            <i class="icon fa fa-bitbucket"></i> @item.FormaPago
                                            <a class="btn btn-warning btn-sm pull-right" asp-action="DeleteFormaPago" asp-route-id="@item.Id" asp-route-comp="@Model.ComprobanteId"><i class="glyphicon glyphicon-remove"></i></a>
                                        </h4>                                        
                                        <p>Total: @item.TotalLista </p>
                                        @if (item.Observaciones != null) 
                                        { 
                                            <p>Observaciones: @item.Observaciones</p>
                                        }
                                        
                                        <p>Usuario: @item.UsuarioAlta - Fecha: @item.FechaAlta</p>
                            
                                    </div>
                                    break;
                                case "C":
                                    <div class="alert alert-info alert-dismissible">
                                        <h4>
                                            <i class="icon fa fa-bitbucket"></i> @item.FormaPago
                                            <a class="btn btn-danger btn-sm pull-right" asp-action="DeleteFormaPago" asp-route-id="@item.Id" asp-route-comp="@Model.ComprobanteId"><i class="glyphicon glyphicon-remove"></i></a>
                                        </h4>
                                        <p>Nombre: @item.TarjetaCliente </p>
                                        <p>Numero: @item.TarjetaNumero - Vence: @item.TarjetaVenceAño / @item.TarjetaVenceMes </p>
                                        <p>Total: @item.TotalLista </p>
                                        <p>Importe: @item.ImporteLista - Cuota: @item.Cuota - Interes: @item.InteresLista</p>
                                        <p>Codigo de Autorizacion: @item.CodigoAutorizacion</p>
                                        @if (item.Observaciones != null)
                                        {
                                            <p>Observaciones: @item.Observaciones</p>
                                        }
                                        <p>Usuario: @item.UsuarioAlta - Fecha: @item.FechaAlta</p>

                                    </div>                                    
                                    break;
                                case "D":
                                    <div class="alert alert-success alert-dismissible">
                                        <h4>
                                            <i class="icon fa fa-bitbucket"></i> @item.FormaPago
                                            <a class="btn btn-danger btn-sm pull-right" asp-action="DeleteFormaPago" asp-route-id="@item.Id" asp-route-comp="@Model.ComprobanteId"><i class="glyphicon glyphicon-remove"></i></a>
                                        </h4>
                                        <p>Nombre: @item.TarjetaCliente </p>
                                        <p>Numero: @item.TarjetaNumero - Vence: @item.TarjetaVenceAño / @item.TarjetaVenceMes </p>
                                        <p>Total: @item.TotalLista </p>
                                        <p>Codigo de Autorizacion: @item.CodigoAutorizacion</p>
                                        @if (item.Observaciones != null)
                                        {
                                            <p>Observaciones: @item.Observaciones</p>
                                        }
                                        <p>Usuario: @item.UsuarioAlta - Fecha: @item.FechaAlta</p>
                                    </div>
                                    break;
                                case "X":
                                    <div class="alert alert-warning alert-dismissible">
                                        <h4>
                                            <i class="icon fa fa-bitbucket"></i> @item.FormaPago
                                            <a class="btn btn-danger btn-sm pull-right" asp-action="DeleteFormaPago" asp-route-id="@item.Id" asp-route-comp="@Model.ComprobanteId"><i class="glyphicon glyphicon-remove"></i></a>
                                        </h4>
                                        <p>Numero: @item.ChequeNumero </p>
                                        <p>Nombre: @item.ChequeNombre </p>
                                        <p>Cuit: @item.ChequeCuit </p>
                                        <p>Fecha: @item.ChequeFechaEmision </p>
                                        <p>Vence: @item.ChequeFechaVencimiento </p>
                                        <p>Cuit: @item.ChequeCuenta</p>
                                        <p>Total: @item.TotalLista </p>
                                        @if (item.Observaciones != null)
                                        {
                                            <p>Observaciones: @item.Observaciones</p>
                                        }
                                        <p>Usuario: @item.UsuarioAlta - Fecha: @item.FechaAlta</p>

                                    </div>
                                    break;
                                case "O":
                                    <div class="alert alert-bitbucket alert-dismissible">
                                        <h4>
                                            <i class="icon fa fa-bitbucket"></i> @item.FormaPago
                                            <a class="btn btn-danger btn-sm pull-right" asp-action="DeleteFormaPago" asp-route-id="@item.Id" asp-route-comp="@Model.ComprobanteId"><i class="glyphicon glyphicon-remove"></i></a>
                                        </h4>
                                        <p>Total: @item.TotalLista </p>
                                        <p>Forma Pago: @item.Otros</p>
                                        @if (item.CodigoAutorizacion != null)
                                        {
                                            <p>Codigo de Autorizacion: @item.CodigoAutorizacion</p>
                                        }
                        
                                        @if (item.Observaciones != null)
                                        {
                                            <p>Observaciones: @item.Observaciones</p>
                                        }
                                        <p>Usuario: @item.UsuarioAlta - Fecha: @item.FechaAlta</p>

                                    </div>
                                    break;
                                default:
                                    break;
                            }                           
                        }
                        @if (formasPagosTMP.Count() == 0) 
                        { 
                            <div class="alert alert-bitbucket alert-dismissible">
                                <h4>
                                    <i class="icon fa fa-bitbucket"></i> No hay formas de pagos seleccionados
                                </h4>
                            </div>
                        }
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}    
}
