@model IEnumerable<Gestion.Web.Models.CajasEstadoDTO>

@{
    ViewData["Title"] = "Informe de Cajas x Usuarios";
}

<!--================================
BREADCRUMB
=================================-->
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Sistema de gestíon <small>Gestion de Ajustes</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-controller="Home" asp-action="InformeCaja"><i class="fas fa-tachometer-alt"></i> Inicio</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>
    <!--================================
        CONTENIDO
    =================================-->
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>
                <a asp-action="InformeCaja" class="btn btn-default btn-sm pull-right" aria-hidden="true">Volver</a>
            </div>
            <div class="box-body">
                <p>

                </p>
                <table id="dTable" class="table dt-responsive table-condensed table-bordered table-striped" width="100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Fecha)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Sucursal)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Usuario)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FormaPagoTipo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Total)
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fecha)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sucursal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Usuario)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FormaPagoTipo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {

            $('#dTable').DataTable({
                "processing": "true",
                "retrieve": "true",
                "order": [[0, 'desc'], [1, 'asc']],
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5'
                    //'pdfHtml5'
                ],
                "language": {
                    "processing": "Procesando... Espere por favor",
                    "lengthMenu": "Mostrar _MENU_ registros por pagina",
                    "zeroRecords": "Nada encontrado",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                }
            });
        });

    </script>
}
