@model Gestion.Web.Models.Productos

@{
    ViewData["Title"] = "Detalle del Alicuota";

    var productosCategorias = (List<ProductosCategoriasDTO>)ViewBag.ProductosCategorias;
    var productosImagenes = (List<ProductosImagenes>)ViewBag.ProductosImagenes;
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Sistema de gestíon
            <small>Gestion de Productos</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index"><i class="fas fa-tachometer-alt"></i> Inicio</a></li>
            <li><a asp-controller="Productos" asp-action="Index">Listado de Productos</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Datos del Producto</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div class="box-body">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Codigo)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Codigo)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.TipoProductoId)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.TipoProducto.Descripcion)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Producto)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Producto)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.DescripcionCorta)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.DescripcionCorta)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.DescripcionLarga)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.DescripcionLarga)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.PrecioVenta)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.PrecioVenta)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Peso)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Peso)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.DimencionesLongitud)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.DimencionesLongitud)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.DimencionesAncho)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.DimencionesAncho)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.DimencionesAltura)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.DimencionesAltura)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.CuentaCompraId)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.CuentaCompra.Descripcion)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.CuentaVentaId)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.CuentaVenta.Descripcion)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.UnidadMedidaId)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.UnidadMedida.Descripcion)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.AlicuotaId)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Alicuota.Descripcion)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.ProveedorId)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.ProveedorId)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.CategoriaId)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.CategoriaId)
                                </dd>

                                <dd>
                                    @{
                                        if (Model.Estado)
                                        {
                                            <span class="label label-success">Activo</span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">Inactivo</span>
                                        }

                                    }
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.UsuarioAlta)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.UsuarioAlta)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.FechaAlta)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.FechaAlta)
                                </dd>
                            </dl>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-sm">Editar datos del Producto</a>
                            <a asp-action="AddImage" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">Agregar Imagenes</a>
                            <a asp-action="Index" class="btn btn-default pull-right btn-sm">Volver</a>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
            </div>
            <!--/.col-->
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Categorias</h3>

                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form enctype="multipart/form-data">
                        <div class="box-body">
                            <table id="dTable" class="table dt-responsive table-condensed table-bordered table-striped" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            Categoria
                                        </th>
                                        <th>Operaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in productosCategorias)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Categoria)
                                            </td>
                                            <td>
                                                @{
                                                    var param = new Dictionary<string, string> { { "id", item.ProductoId }, { "id2", item.CategoriaId } };
                                                }
                                                @if (item.Activa >= 1)
                                                {
                                                    <a asp-action="CategoriaOff" asp-all-route-data="@param" class="btn btn-primary">On</a>
                                                }
                                                else
                                                {
                                                    <a asp-action="CategoriaOn" asp-all-route-data="@param" class="btn btn-danger">Off</a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </form>
                </div>
                <!-- /.box -->
            </div>
            <!--/.col-->

        </div>

        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Imagenes</h3>

                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form enctype="multipart/form-data">
                        <div class="box-body">
                            <table id="dTable" class="table dt-responsive table-condensed table-bordered table-striped" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            Categoria
                                        </th>
                                        <th>Operaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in productosImagenes)
                                    {
                                        <tr>
                                            <td>
                                                @if (!string.IsNullOrEmpty(item.ImagenUrl))
                                                {
                                                    <img src="@Url.Content(item.ImagenUrl)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
                                                }                                                
                                            </td>
                                            <td>
                                                <a class="btn btn-danger" asp-action="DeleteImage" asp-route-id="@item.Id"><i class="glyphicon glyphicon-remove"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </form>
                </div>
                <!-- /.box -->
            </div>
            <!--/.col-->

        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {

            $('#dTable').DataTable({
                "processing": "true",
                "retrieve": "true",
                "language": {
                    "processing": "Procesando... Espere por favor",
                    "lengthMenu": "Mostrar _MENU_ registros por pagina",
                    "zeroRecords": "Nada encontrado",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                }
            });
        });

    </script>
}
