@model Gestion.Web.Models.Productos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Productos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoProductoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoProductoId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionCorta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescripcionCorta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionLarga)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescripcionLarga)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioNormal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioNormal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
