@model Gestion.Web.Models.CajasMovimientos

@{
    ViewData["Title"] = "Detalle del Movimiento";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Sistema de gestíon
            <small>Gestion de Clientes</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index"><i class="fas fa-tachometer-alt"></i> Inicio</a></li>
            <li><a asp-controller="CajasMovimientos" asp-action="Index">Listado de Movimientos</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Datos del Movimiento</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div class="box-body">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Fecha)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Fecha)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Caja.Sucursal)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Caja.Sucursal)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Caja.Codigo)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Caja.Codigo)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.TipoMovimiento.Descripcion)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.TipoMovimiento.Descripcion)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Importe)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Importe)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Observaciones)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Observaciones)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.UsuarioAlta)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.UsuarioAlta)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.FechaAlta)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.FechaAlta)
                                </dd>
                            </dl>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar datos del Movimiento</a>
                            <a asp-action="Index" class="btn btn-default pull-right">Volver al Listado</a>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
            </div>
            <!--/.col-->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
