@model Gestion.Web.Models.PresupuestosDTO

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Resumen</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body">

        <div class="form-group col-md-12">
            <label asp-for="@Model.CantidadProductos" class="control-label"></label>
            <input asp-for="@Model.CantidadProductos" readonly class="form-control input-sm" />
        </div>

        <div class="form-group col-md-6">
            <label class="control-label">SubTotal</label>
            <input asp-for="@Model.Precio" readonly class="form-control input-sm" />
        </div>
        <div class="form-group col-md-6">
            <label class="control-label">SubTotal de Contado</label>
            <input asp-for="@Model.PrecioContado" readonly class="form-control input-sm" />
        </div>

        <div class="form-group col-md-12">
            <label asp-for="@Model.DescuentoPorcentaje" class="control-label">Descuento %</label>
            <input asp-for="@Model.DescuentoPorcentaje" readonly type="text" class="form-control">
        </div>

        <div class="form-group col-md-6">
            <label class="control-label">Descuento $</label>
            <input readonly class="form-control input-sm" value="@(decimal.Round(Model.Precio * Model.DescuentoPorcentaje / 100,2))" />
        </div>
        <div class="form-group col-md-6">
            <label class="control-label">Descuento Contado $</label>
            <input readonly class="form-control input-sm" value="@(decimal.Round(Model.PrecioContado * Model.DescuentoPorcentaje / 100,2))" />
        </div>

        <div class="form-group col-md-6">
            <label class="control-label">Total a Pagar</label>
            <input readonly class="form-control input-sm" value="@(decimal.Round(Model.Precio - (Model.Precio * Model.DescuentoPorcentaje / 100),2))" />
        </div>
        <div class="form-group col-md-6">
            <label class="control-label">Total a Pagar Contado</label>
            <input readonly class="form-control input-sm" value="@(decimal.Round(Model.PrecioContado - (Model.PrecioContado * Model.DescuentoPorcentaje / 100),2))" />
        </div>

    </div>
    <!-- /.box-body -->

</div>