@model Gestion.Web.Models.PresupuestosDetalleDTO

@{
    ViewData["Title"] = "Nuevo Presupuesto";

    var Detalle = (IEnumerable<PresupuestosDetalleDTO>)ViewData["Detalle"];
}

<div class="content-wrapper">
<!-- Content Header(Page header) -->
    <section class="content-header">
        <h1>
            Sistema de gestíon
            <small> Gestion de Presupuestos</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-controller="Home"><i class="fas fa-tachometer-alt"></i> Inicio</a></li>
            <li><a asp-controller="Presupuestos" asp-action="Pendientes">Listado de Presupuestos Aprobados</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>

<!-- Main content -->
    <section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Datos del Presupuesto (Aprobado)</h3>
                    <a asp-action="PresupuestoImprimir" asp-route-id="@Model.Id" class="btn btn-primary btn-sm pull-right" aria-hidden="true" target="_blank"><i class="fa fa-print"></i> Imprimir</a>
                    
                </div>
                <!-- /.box-header -->
                <!-- form start -->

                <form>
                    <div class="box-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="@Model.Id" />
                        <input type="hidden" asp-for="@Model.ClienteId" />

                        <div class="form-group col-md-6">
                            <label asp-for="@Model.Codigo" class="control-label"></label>
                            <input asp-for="@Model.Codigo" readonly class="form-control input-sm" />
                            <span asp-validation-for="@Model.Codigo" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="@Model.Estado" class="control-label"></label>
                            <input asp-for="@Model.Estado" readonly class="form-control input-sm" />
                            <span asp-validation-for="@Model.Estado" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="@Model.Fecha" class="control-label"></label>
                            <input asp-for="@Model.Fecha" type="date" readonly class="form-control input-sm" />
                            <span asp-validation-for="@Model.Fecha" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="@Model.FechaVencimiento" class="control-label"></label>
                            <input asp-for="@Model.FechaVencimiento" type="date" readonly class="form-control input-sm" />
                            <span asp-validation-for="@Model.FechaVencimiento" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="@Model.ClienteCodigo" class="control-label"></label>
                            <input asp-for="@Model.ClienteCodigo" readonly class="form-control input-sm" />
                            <span asp-validation-for="@Model.ClienteCodigo" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="@Model.ClienteRazonSocial" class="control-label"></label>
                            <input asp-for="@Model.ClienteRazonSocial" readonly class="form-control input-sm" />
                            <span asp-validation-for="@Model.ClienteRazonSocial" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="@Model.ClienteNroDocumento" class="control-label"></label>
                            <input asp-for="@Model.ClienteNroDocumento" readonly class="form-control input-sm" />
                            <span asp-validation-for="@Model.ClienteNroDocumento" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="@Model.ClienteCuilCuit" class="control-label"></label>
                            <input asp-for="@Model.ClienteCuilCuit" readonly class="form-control input-sm" />
                            <span asp-validation-for="@Model.ClienteCuilCuit" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="@Model.TipoResponsable" class="control-label"></label>
                            <input asp-for="@Model.TipoResponsable" readonly class="form-control input-sm" />
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="@Model.UsuarioAlta" class="control-label"></label>
                            <input asp-for="@Model.UsuarioAlta" readonly class="form-control input-sm" />
                            <span asp-validation-for="@Model.UsuarioAlta" class="text-danger"></span>
                        </div>


                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <a asp-controller= "Presupuestos" asp-action= "Aprobados" class="btn btn-sm btn-default pull-right">Volver</a>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col-->
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Resumen</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <div class="form-group col-md-12">
                        <label asp-for="@Model.Cantidad" class="control-label"></label>
                        <input asp-for="@Model.Cantidad" readonly class="form-control input-sm" />
                    </div>

                    <div class="form-group col-md-12">
                        <label asp-for="@Model.Total" class="control-label">Subtotal</label>
                        <input asp-for="@Model.Total" readonly class="form-control input-sm" />
                    </div>


                    <div class="form-group col-md-6">
                        <label asp-for="@Model.Descuento" class="control-label">Descuento %</label>
                        <input asp-for="@Model.Descuento" readonly type="text" class="form-control">
                    </div>

                    <div class="form-group col-md-6">
                        <label asp-for="@Model.Descuento" class="control-label">Descuento $</label>
                        <input readonly class="form-control input-sm" value="@(Model.Total - Model.TotalDescuento)" />
                    </div>

                    <div class="form-group col-md-12">
                        <label asp-for="@Model.TotalDescuento" class="control-label">Total a Pagar</label>
                        <input asp-for="@Model.TotalDescuento" readonly class="form-control input-sm" />
                    </div>
                </div>
                <!-- /.box-body -->

            </div>
            <!-- /.box -->
            
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Listado de Productos</h3>
                </div>
                <div class="box-body">
                    <table id="dTable" class="table dt-responsive table-condensed table-bordered table-striped" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    Codigo
                                </th>
                                <th>
                                    Producto
                                </th>
                                <th>
                                    Precio U.
                                </th>
                                <th>
                                    Cantidad
                                </th>
                                <th>
                                    SubTotal
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @if (Detalle.Count() > 0)
                            {
                                @foreach (var item in Detalle)
                                {
                                    if (item.ProductoCodigo != "")
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductoCodigo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductoNombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductoPrecio)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductoCantidad)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SubTotal)
                                            </td>                                            
                                        </tr>
                                    }

                                }
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="3">
                                </th>
                                <th>
                                    Cantidad : @Html.DisplayFor(x => x.Cantidad)
                                </th>
                                <th>
                                    SubTotal : @Html.DisplayFor(x => x.Total)
                                </th>
                                
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!-- /.box -->
        </div>
    <!--/.col-->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->


@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script type="text/javascript">
            $(document).ready(function () {

                $('#dTable').DataTable({
                    "processing": "true",
                    "retrieve": "true",
                    "language": {
                        "processing": "Procesando... Espere por favor",
                        "lengthMenu": "Mostrar _MENU_ registros por pagina",
                        "zeroRecords": "Nada encontrado",
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "No hay registros disponibles",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sSearch": "Buscar:",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        }
                    }
                });
            });

        </script>

}
