@model Gestion.Web.Models.PresupuestosDTO

@{
    ViewData["Title"] = "Nuevo Presupuesto";
    var Detalle = (IEnumerable<PresupuestosDetalleDTO>)ViewData["Detalle"];
}

<div class="content-wrapper">
<!-- Content Header(Page header) -->
    <section class="content-header">
        <h1>
            Sistema de gestíon
            <small> Gestion de Presupuestos</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-controller="Home"><i class="fas fa-tachometer-alt"></i> Inicio</a></li>
            <li><a asp-controller="Presupuestos" asp-action="Pendientes">Listado de Presupuestos Pendientes</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>

<!-- Main content -->
    <section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <partial name="_Cabecera" model='Model' />
        </div>
        <!--/.col-->
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <partial name="_Resumen" model='Model' />
            <!-- /.box -->
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Listado de Productos</h3>
                    <a asp-action="ProductoCreate" asp-route-id="@Model.Id" class="btn btn-primary btn-sm pull-right" aria-hidden="true">Agregar Productos</a>
                </div>
                <div class="box-body">
                    <table id="dTable" class="table dt-responsive table-condensed table-bordered table-striped" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    Codigo
                                </th>
                                <th>
                                    Producto
                                </th>
                                <th>
                                    Precio Lista
                                </th>
                                <th>
                                    Precio Contado
                                </th>
                                <th>
                                    Cantidad
                                </th>
                                <th>Operaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Detalle.Count() > 0)
                            {
                                @foreach (var item in Detalle)
                                {
                                    if (item.ProductoCodigo != "")
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductoCodigo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductoNombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Precio)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PrecioContado)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cantidad)
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    @{
                                                        var param = new Dictionary<string, string> { { "id", item.Id }, { "id2", item.PresupuestoId } };
                                                    }
                                                    <a class="btn btn-success btn-sm" asp-action="Incrementar" asp-all-route-data="@param"><i class="fa fa-plus"></i></a>
                                                    <a class="btn btn-warning btn-sm" asp-action="Decrementar" asp-all-route-data="@param"><i class="fa fa-minus"></i></a>

                                                    <a class="btn btn-danger btn-sm" asp-action="ProductoDelete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                }
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="2">
                                </th>
                                <th>
                                    @Html.DisplayFor(model => Model.Precio)
                                </th>
                                <th>
                                    @Html.DisplayFor(model => Model.PrecioContado)
                                </th>
                                <th>
                                    @decimal.Round(Model.CantidadProductos, 0)
                                </th>
                                <td>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!-- /.box -->
        </div>
    <!--/.col-->
    </div>
    <!-- /.row -->
    </section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->


@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script type="text/javascript">
            $(document).ready(function () {

                $('#dTable').DataTable({
                    "processing": "true",
                    "retrieve": "true",
                    "language": {
                        "processing": "Procesando... Espere por favor",
                        "lengthMenu": "Mostrar _MENU_ registros por pagina",
                        "zeroRecords": "Nada encontrado",
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "No hay registros disponibles",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sSearch": "Buscar:",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        }
                    }
                });
            });

        </script>

}
