@model IEnumerable<Gestion.Web.Models.ComprobantesDTO>

@{
    var comprobante = (ComprobantesDTO)ViewData["Comprobante"];
    var CCDetalle = (List<Gestion.Web.Models.ComprobantesDetalleDTO>)ViewData["Detalles"];
    var CCFormaPagos = (List<Gestion.Web.Models.ComprobantesFormasPagosDTO>)ViewData["FormasPagos"];
}
<form id="CCForm">
    <div class="box-body">
        <ul class="timeline">
            @foreach (var item in Model)
            {
                <li class="time-label">
                    <span class="bg-red">
                        @(item.FechaComprobante.ToShortDateString())
                    </span>
                </li>
                <li>
                    <!-- timeline icon -->
                    <i class="fa bg-blue"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> @(item.FechaComprobante.ToShortTimeString())</span>

                        <h3 class="timeline-header"><a>@item.TipoComprobante @item.Codigo</a> ...</h3>

                        <div class="timeline-body">
                            @if (item.TipoComprobanteFiscal != null)
                            {
                                <b>Comprobante Fiscal</b><br>
                                <b>Tipo: @item.TipoComprobanteFiscal - Letra: @item.LetraFiscal - Pto Venta: @item.PtoVentaFiscal.ToString("D4") - Numero: @item.NumeroFiscal.ToString("00000000")</b><br>
                            }
                            <br>
                            <b>Fecha:</b> @item.FechaComprobante.ToShortDateString()<br>
                            @if (item.TipoComprobanteCodigo == "000")
                            {

                                <b>Cantidad de Productos:</b> @CCDetalle.Where(x => x.ComprobanteId == item.Id).Sum(x => x.Cantidad)<br>
                                <br>
                                @*<b>SubTotal Lista:</b> @item.TotalListaSinDescuento<br>*@
                                <b>Descuento %:</b> @item.DescuentoPorcentaje<br>
                                @*<b>Descuento $:</b> @item.DescuentoTotalLista<br>*@
                                <br>
                                <b>SubTotal:</b> @item.TotalSinDescuento<br>
                                <b>Descuento %:</b> @item.DescuentoPorcentaje<br>
                                <b>Descuento $:</b> @item.DescuentoTotal<br>
                                <b>Tipo Responsable:</b> @item.TipoResponsable<br>
                                <br>
                            }

                            <b>Observaciones:</b> @item.Observaciones<br>
                            <b>Usuario:</b> @item.UsuarioAlta<br>
                            <br>
                            @if (item.TipoComprobanteCodigo != "018" && item.TipoComprobanteCodigo != "019")
                            {
                                <b>Total:</b> @item.Total<br>
                                @*<b>Total Lista:</b> @item.TotalLista<br>*@
                            }


                            @if (item.TipoComprobanteCodigo == "000")
                            {
                                <b>Saldo:</b> @item.Saldo<br>
                            }

                            @if (item.Anulado == true)
                            {
                                <div class="callout callout-danger">
                                    <h4>ANULADO</h4>

                                    <b>Fecha Anulacion:</b> @item.FechaAnulacion.ToShortDateString()<br>
                                    <b>Tipo Comprobante Anula:</b> @item.TipoComprobanteAnula<br>
                                    <b>Comprobante Anula:</b> @item.CodigoAnula<br>
                                    <b>Usuario Anulacion:</b> @item.UsuarioAnula<br>
                                </div>
                                <br>

                            }

                            <br>
                            @if (CCDetalle.Where(x => x.ComprobanteId == item.Id).Count() != 0)
                            {
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        @if (item.TipoComprobanteCodigo != "018" && item.TipoComprobanteCodigo != "019")
                                        {
                                            <th>Precio</th>
                                        }
                                        @if (item.TipoComprobanteCodigo != "018" && item.TipoComprobanteCodigo != "019")
                                        {
                                            <th>SubTotal</th>
                                        }

                                        
                                    </tr>
                                    @foreach (var det in CCDetalle.Where(x => x.ComprobanteId == item.Id))
                                    {
                                        <tr>
                                            <td>@det.ProductoCodigo</td>
                                            <td>@det.ProductoNombre</td>
                                            <td>@det.Cantidad</td>
                                            @if (item.TipoComprobanteCodigo != "018" && item.TipoComprobanteCodigo != "019")
                                            {
                                                <td>@det.Precio</td>
                                            }
                                            @if (item.TipoComprobanteCodigo != "018" && item.TipoComprobanteCodigo != "019")
                                            {
                                                <td>@decimal.Round(det.Cantidad * det.Precio, 2)</td>
                                            }
                            
                                        </tr>

                                    }
                                </table>
                            }

                            @if (CCFormaPagos.Where(x => x.ComprobanteId == item.Id).Count() != 0)
                            {
                                @foreach (var formas in CCFormaPagos.Where(x => x.ComprobanteId == item.Id))
                                {
                                    <div class="box-group" id="accordion">
                                        @switch (formas.FormaPagoTipo)
                                        {
                                            case "E":
                                                <div class="panel box box-solid box-primary">
                                                    <div class="box-header with-border">
                                                        <h4 class="box-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#@formas.Id">
                                                                @formas.FormaPago - Total: @formas.Total

                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="@formas.Id" class="panel-collapse collapse">
                                                        <div class="box-body">
                                                            <p>Total: @formas.Total </p>
                                                            <p>Total Cancela: @formas.Importe </p>
                                                            @if (formas.Descuento != 0)
                                                            {
                                                                <p>Descuento x pago de Contado: @formas.Descuento </p>
                                                            }

                                                            <p>Observaciones: @formas.Observaciones</p>
                                                            <p>Usuario: @formas.UsuarioAlta </p>
                                                            <p>Fecha: @formas.FechaAlta</p>

                                                        </div>
                                                    </div>
                                                </div>

                                                break;
                                            case "C":
                                                <div class="panel box box-solid box-primary">
                                                    <div class="box-header with-border">
                                                        <h4 class="box-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#@formas.Id">
                                                                @formas.FormaPago (@formas.TarjetaNombre) - Total: @formas.Total
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="@formas.Id" class="panel-collapse collapse">
                                                        <div class="box-body">
                                                            <p>Tarjeta: @formas.TarjetaNombre </p>
                                                            <p>Nombre: @formas.TarjetaCliente </p>
                                                            <p>Numero: @formas.TarjetaNumero - Vence: @formas.TarjetaVenceAño / @formas.TarjetaVenceMes </p>
                                                            <p>Total Cancela: @formas.Total </p>
                                                            <p>Cantidad Cuotas: @formas.Cuota - Importe de la Cuota: @(decimal.Round(formas.Importe,2)) - Interes: @formas.Interes</p>
                                                            <p>Total con Interes: @(decimal.Round(formas.Cuota * formas.Importe, 2))</p>
                                                            <p>
                                                                Codigo Autorizacion: @formas.CodigoAutorizacion

                                                                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                                                                        onclick="CargarcodigoAutorizacion('@formas.Id','@formas.CodigoAutorizacion');"
                                                                        data-target="#modal-codigoAutorizacion">
                                                                    <i class="glyphicon glyphicon-pencil"></i>
                                                                </button>
                                                            </p>
                                                            <p>Observaciones: @formas.Observaciones</p>
                                                            <p>Usuario: @formas.UsuarioAlta </p>
                                                            <p>Fecha: @formas.FechaAlta</p>

                                                        </div>
                                                    </div>
                                                </div>

                                                break;
                                            case "D":
                                                <div class="panel box box-solid box-primary">
                                                    <div class="box-header with-border">
                                                        <h4 class="box-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#@formas.Id">
                                                                @formas.FormaPago (@formas.TarjetaNombre) - Total: @formas.Total
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="@formas.Id" class="panel-collapse collapse">
                                                        <div class="box-body">
                                                            <p>Tarjeta: @formas.TarjetaNombre </p>
                                                            <p>Nombre: @formas.TarjetaCliente </p>
                                                            <p>Numero: @formas.TarjetaNumero - Vence: @formas.TarjetaVenceAño / @formas.TarjetaVenceMes </p>
                                                            <p>Total Cancela: @formas.Total </p>
                                                            <p>
                                                                Codigo Autorizacion: @formas.CodigoAutorizacion

                                                                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                                                                        onclick="CargarcodigoAutorizacion('@formas.Id','@formas.CodigoAutorizacion');"
                                                                        data-target="#modal-codigoAutorizacion">
                                                                    <i class="glyphicon glyphicon-pencil"></i>
                                                                </button>
                                                            </p>
                                                            <p>Observaciones: @formas.Observaciones</p>
                                                            <p>Usuario: @formas.UsuarioAlta </p>
                                                            <p>Fecha: @formas.FechaAlta</p>

                                                        </div>
                                                    </div>
                                                </div>
                                                break;
                                            case "X":
                                                <div class="panel box box-solid box-primary">
                                                    <div class="box-header with-border">
                                                        <h4 class="box-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#@formas.Id">
                                                                @formas.FormaPago - Total: @formas.Total
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="@formas.Id" class="panel-collapse collapse">
                                                        <div class="box-body">
                                                            <p>Numero: @formas.ChequeNumero </p>
                                                            <p>Nombre: @formas.ChequeNombre </p>
                                                            <p>Cuit: @formas.ChequeCuit </p>
                                                            <p>Fecha: @formas.ChequeFechaEmision </p>
                                                            <p>Vence: @formas.ChequeFechaVencimiento </p>
                                                            <p>Cuit: @formas.ChequeCuenta</p>
                                                            <p>Total: @formas.Total </p>

                                                            @if (formas.Descuento != 0)
                                                            {
                                                                <p>Descuento: @formas.Descuento </p>
                                                            }
                                                            @if (formas.Interes != 0)
                                                            {
                                                                <p>Recargo: @formas.Interes </p>
                                                            }

                                                            <p>Total Cancela: @formas.Importe</p>
                                                            <p>Observaciones: @formas.Observaciones</p>
                                                            <p>Usuario: @formas.UsuarioAlta </p>
                                                            <p>Fecha: @formas.FechaAlta</p>

                                                        </div>
                                                    </div>
                                                </div>

                                                break;
                                            case "O":
                                                <div class="panel box box-solid box-primary">
                                                    <div class="box-header  with-border">
                                                        <h4 class="box-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#@formas.Id">
                                                                @formas.FormaPago - Total: @formas.Total
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="@formas.Id" class="panel-collapse collapse">
                                                        <div class="box-body">
                                                            <p>Forma Pago: @formas.Otros</p>
                                                            <p>Total: @formas.Total </p>
                                                            <p>Total Cancela: @formas.Importe</p>
                                                            <p>Observaciones: @formas.Observaciones</p>
                                                            <p>Usuario: @formas.UsuarioAlta </p>
                                                            <p>Fecha: @formas.FechaAlta</p>

                                                        </div>
                                                    </div>
                                                </div>

                                                break;
                                            case "U":
                                                <div class="panel box box-solid box-primary">
                                                    <div class="box-header with-border">
                                                        <h4 class="box-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#@formas.Id">
                                                                @formas.FormaPago - Total: @formas.Total

                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="@formas.Id" class="panel-collapse collapse">
                                                        <div class="box-body">
                                                            <p>Total: @formas.Total </p>
                                                            <p>Importe en Dolares: @formas.DolarImporte </p>
                                                            <p>Cotizacion: @formas.DolarCotizacion </p>

                                                            @if (formas.Descuento != 0)
                                                            {
                                                                <p>Descuento: @formas.Descuento </p>
                                                            }
                                                            @if (formas.Interes != 0)
                                                            {
                                                                <p>Recargo: @formas.Interes </p>
                                                            }
                                                            <p>Total Cancela: @formas.Importe</p>


                                                            <p>Observaciones: @formas.Observaciones</p>
                                                            <p>Usuario: @formas.UsuarioAlta </p>
                                                            <p>Fecha: @formas.FechaAlta</p>

                                                        </div>
                                                    </div>
                                                </div>

                                                break;
                                            default:
                                                break;
                                        }
                                    </div>
                                }
                            }
                        </div>


                        <div class="timeline-footer">
                            @if (item.TipoComprobanteCodigo == "000")
                            {
                                <a asp-controller="Presupuestos" asp-action="PresupuestoImprimir" asp-route-id="@item.PresupuestoId" class="btn btn-primary btn-sm" aria-hidden="true" target="_blank"><i class="fa fa-print"></i> Imprimir</a>
                            }

                            @if (item.TipoComprobanteCodigo == "004")
                            {
                                <a asp-controller="Clientes" asp-action="ReciboImprimir" asp-route-id="@item.Id" class="btn btn-primary btn-sm" aria-hidden="true" target="_blank"><i class="fa fa-print"></i> Imprimir</a>
                            }

                            @if (item.TipoComprobanteCodigo == "018")
                            {
                                <a asp-controller="Comprobantes" asp-action="RemitoImprimir" asp-route-id="@item.Id" class="btn btn-primary btn-sm" aria-hidden="true" target="_blank"><i class="fa fa-print"></i> Imprimir</a>
                            }

                            @if (item.TipoComprobanteCodigo == "019")
                            {
                                <a asp-controller="Comprobantes" asp-action="RemitoImprimir" asp-route-id="@item.Id" class="btn btn-primary btn-sm" aria-hidden="true" target="_blank"><i class="fa fa-print"></i> Imprimir</a>
                            }

                            @if (!item.Anulado)
                            {
                                @if (item.TipoComprobanteCodigo == "004")
                                {
                                    <a asp-controller="Clientes" asp-action="ReciboAnular" asp-route-id="@item.Id" asp-route-comp="@comprobante.Id" class="btn btn-warning btn-sm pull-right" aria-hidden="true"><i class="glyphicon glyphicon-remove"></i> Anular</a>
                                }

                            }


                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                                    onclick="cargarDatosFiscales('@item.Id','@item.TipoComprobanteFiscal','@item.LetraFiscal',@item.PtoVentaFiscal,@item.NumeroFiscal);"
                                    data-target="#modal-fiscales">
                                Cargar Datos Fiscales
                            </button>



                            <a class="btn btn-danger btn-sm" asp-controller="Presupuestos" asp-action="DatosFiscalesBorrar" asp-route-id="@item.Id"><i class="fa fa-trash"></i> Borrar Datos Fiscales</a>
                        </div>
                    </div>
                </li>

            }



            <!-- END timeline item -->
            ...
        </ul>
    </div>
</form>

<div class="modal fade" id="modal-fiscales">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Ingresar Datos Fiscales</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="mdlId" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Tipo Comprobante (FA,NC,ND,RE)</label>
                    <input id="mdlTipoComprobanteFiscal" class="form-control input-sm" maxlength="2" />
                    <span id="mTipoComprobanteFiscal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Letra</label>
                    <input id="mdlLetraFiscal" class="form-control input-sm" maxlength="1" />
                    <span id="mLetraFiscal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Pto Venta</label>
                    <input id="mdlPtoVentaFiscal" class="form-control input-sm" maxlength="4" onkeypress="return FiltrarEnteros(event,this);" />
                    <span id="mPtoVentaFiscal" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Numero</label>
                    <input id="mdlNumeroFiscal" class="form-control input-sm" maxlength="8" onkeypress="return FiltrarEnteros(event,this);" />
                    <span id="mNumeroFiscal" class="text-danger"></span>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                <button type="button" id="btnGuardar" class="btn btn-primary" onclick="validarFiscalModal()">Guardar Datos Fiscales</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div class="modal fade" id="modal-codigoAutorizacion">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Ingresar Codigo Autorizacion</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="mdlId" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Codigo de Autorizacion</label>
                    <input id="mdlCodigoAutorizacion" class="form-control input-sm" maxlength="50" />
                    <span id="mCodigoAutorizacion" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnGuardar" class="btn btn-primary" onclick="validarCodigoAutorizacion()">Guardar </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>