@model Gestion.Web.Models.Comprobantes

@{ 
    var CCDetalle = (List<Gestion.Web.Models.PresupuestosDetalleDTO>)ViewData["Detalles"];
    var CCImputacion = (List<Gestion.Web.Models.Comprobantes>)ViewData["Imputaciones"];
    var CCFormaPagos = (List<Gestion.Web.Models.ComprobantesFormasPagosDTO>)ViewData["FormasPagos"];
}
<div class="box-body">
    <ul class="timeline">

        <!-- timeline time label -->
        <li class="time-label">
            <span class="bg-red">
                @(Model.FechaComprobante.ToShortDateString())
            </span>
        </li>
        <!-- /.timeline-label -->
        <!-- timeline item -->
        <li>
            <!-- timeline icon -->
            <i class="fa bg-blue"></i>
            <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> @(Model.FechaComprobante.ToShortTimeString())</span>

                <h3 class="timeline-header"><a asp-controller="Presupuestos" asp-action="Aprobado" asp-route-id="@Model.PresupuestoId">@Model.TipoComprobante @Model.Codigo</a> ...</h3>

                <div class="timeline-body">
                    <b>Presupuesto: @Model.Codigo</b><br>
                    <br>
                    <b>Fecha:</b> @Model.FechaComprobante.ToShortDateString()<br>
                    <b>Cantidad de Productos:</b> @CCDetalle.Sum(x => x.ProductoCantidad)<br>
                    <b>SubTotal:</b> @Model.TotalSinDescuento<br>
                    <b>Descuento %:</b> @Model.DescuentoPorcentaje<br>
                    <b>Descuento $:</b> @Model.DescuentoTotal<br>
                    <b>Tipo Responsable:</b> @Model.TipoResponsable<br>
                    <b>Usuario:</b> @Model.UsuarioAlta<br>
                    <br>
                    <b>Total:</b> @Model.Total<br>
                    <b>Saldo:</b> @Model.Saldo<br>

                    <br>
                    <table class="table table-bordered">
                        <tr>
                            <th>Codigo</th>
                            <th>Producto</th>
                            <th>Precio U.</th>
                            <th>Cantidad</th>
                            <th>SubTotal</th>
                        </tr>
                        @foreach (var item in CCDetalle)
                        {
                            <tr>
                                <td>@item.ProductoCodigo</td>
                                <td>@item.ProductoNombre</td>
                                <td>@item.ProductoPrecio</td>
                                <td>@item.ProductoCantidad</td>
                                <td>@item.SubTotal</td>
                            </tr>

                        }
                    </table>

                </div>

                <div class="timeline-footer">
                    <a asp-controller="Presupuestos" asp-action="PresupuestoImprimir" asp-route-id="@Model.PresupuestoId" class="btn btn-primary btn-sm" aria-hidden="true" target="_blank"><i class="fa fa-print"></i> Imprimir</a>
                </div>
            </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline time label -->
        @foreach (var item in CCImputacion)
        {
            <li class="time-label">
                <span class="bg-red">
                    @(item.FechaComprobante.ToShortDateString())
                </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
                <!-- timeline icon -->
                <i class="fa bg-blue"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> @(item.FechaComprobante.ToShortTimeString())</span>

                    <h3 class="timeline-header"><a>@item.TipoComprobante @item.Codigo</a> ...</h3>

                    <div class="timeline-body">
                        <b>@item.TipoComprobante: @item.Codigo</b><br>
                        <br>
                        <b>Fecha:</b> @item.FechaComprobante.ToShortDateString()<br>
                        <b>Total sin Descuento:</b> @item.Total<br>
                        <b>Total sin Impuesto:</b> @item.TotalSinImpuesto<br>
                        <b>Descuento:</b> @item.DescuentoTotal<br>
                        <b>Usuario:</b> @item.UsuarioAlta<br>
                        <br>
                        @if (item.Anulado == true)
                        {
                            <div class="callout callout-danger">
                                <h4>ANULADO</h4>

                                <b>Fecha Anulacion:</b> @item.FechaAnulacion.ToShortDateString()<br>
                                <b>Tipo Comprobante Anula:</b> @item.TipoComprobanteAnula<br>
                                <b>Comprobante Anula:</b> @item.CodigoAnula<br>
                                <b>Usuario Anulacion:</b> @item.UsuarioAnula<br>
                            </div>
                            <br>

                        }

                        <h4>Formas de Pagos</h4>
                        @foreach (var formas in CCFormaPagos.Where(x => x.ComprobanteId == item.Id))
                        {
                            switch (formas.FormaPagoTipo)
                            {
                                case "E":
                                    <div class="alert alert-danger alert-dismissible">
                                        <h4>
                                            <i class="icon fa fa-bitbucket"></i> @formas.FormaPago
                                        </h4>
                                        <p>Total: @formas.Total </p>
                                        <p>Observaciones: @formas.Observaciones</p>
                                        <p>Usuario: @formas.UsuarioAlta - Fecha: @formas.FechaAlta</p>

                                    </div>
                                    break;
                                case "C":
                                    <div class="alert alert-info alert-dismissible">
                                        <h4>
                                            <i class="icon fa fa-bitbucket"></i> @formas.FormaPago
                                        </h4>
                                        <p>Nombre: @formas.TarjetaCliente </p>
                                        <p>Numero: @formas.TarjetaNumero - Vence: @formas.TarjetaVenceAño / @formas.TarjetaVenceMes </p>
                                        <p>Total: @formas.Total </p>
                                        <p>Importe: @formas.Importe - Cuota: @formas.Cuota - Interes: @formas.Interes</p>
                                        <p>Observaciones: @formas.Observaciones</p>
                                        <p>Usuario: @formas.UsuarioAlta - Fecha: @formas.FechaAlta</p>

                                    </div>
                                    break;
                                case "D":
                                    <div class="alert alert-success alert-dismissible">
                                        <h4>
                                            <i class="icon fa fa-bitbucket"></i> @formas.FormaPago
                                        </h4>
                                        <p>Nombre: @formas.TarjetaCliente </p>
                                        <p>Numero: @formas.TarjetaNumero - Vence: @formas.TarjetaVenceAño / @formas.TarjetaVenceMes </p>
                                        <p>Total: @formas.Total </p>
                                        <p>Observaciones: @formas.Observaciones</p>
                                        <p>Usuario: @formas.UsuarioAlta - Fecha: @formas.FechaAlta</p>
                                    </div>
                                    break;
                                case "X":
                                    <div class="alert alert-warning alert-dismissible">
                                        <h4>
                                            <i class="icon fa fa-bitbucket"></i> @formas.FormaPago
                                        </h4>
                                        <p>Numero: @formas.ChequeNumero </p>
                                        <p>Nombre: @formas.ChequeNombre </p>
                                        <p>Cuit: @formas.ChequeCuit </p>
                                        <p>Fecha: @formas.ChequeFechaEmision </p>
                                        <p>Vence: @formas.ChequeFechaVencimiento </p>
                                        <p>Cuit: @formas.ChequeCuenta</p>
                                        <p>Total: @formas.Total </p>
                                        <p>Observaciones: @formas.Observaciones</p>
                                        <p>Usuario: @formas.UsuarioAlta - Fecha: @formas.FechaAlta</p>

                                    </div>
                                    break;
                                case "O":
                                    <div class="alert alert-bitbucket alert-dismissible">
                                        <h4>
                                            <i class="icon fa fa-bitbucket"></i> @formas.FormaPago
                                        </h4>
                                        <p>Total: @formas.Total </p>
                                        <p>Forma Pago: @formas.Otros</p>
                                        <p>Observaciones: @formas.Observaciones</p>
                                        <p>Usuario: @formas.UsuarioAlta - Fecha: @formas.FechaAlta</p>

                                    </div>
                                    break;
                                default:
                                    break;
                            }

                        }


                    </div>
                    @if (item.Anulado != true)
                    {
                        @if (item.Total > 0)
                        {

                            <div class="timeline-footer">
                                <a asp-controller="Clientes" asp-action="ReciboImprimir" asp-route-id="@item.Id" class="btn btn-primary btn-sm" aria-hidden="true" target="_blank"><i class="fa fa-print"></i> Imprimir</a>

                                <a asp-controller="Clientes" asp-action="ReciboAnular" asp-route-id="@item.Id" asp-route-comp="@Model.Id" class="btn btn-warning btn-sm pull-right" aria-hidden="true"><i class="glyphicon glyphicon-remove"></i> Anular</a>
                            </div>
                        }
                    }

                </div>
            </li>
        }
        <!-- END timeline item -->
        ...            
    </ul>
</div>

