@model IEnumerable<Gestion.Web.Models.ComprobantesDTO>

@{
    ViewData["Title"] = "Entregar Productos";
}

<!--================================
BREADCRUMB
=================================-->
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Sistema de gestíon <small>Gestion de Presupuestos</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-controller="Home"><i class="fas fa-tachometer-alt"></i> Inicio</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>
    <!--================================
        CONTENIDO
    =================================-->
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>
                @*<a asp-action="ClienteBuscar" asp-route-id="@Guid.NewGuid().ToString()" class="btn btn-primary btn-sm pull-right" aria-hidden="true">Nuevo Presupuesto</a>*@
            </div>
            <div class="box-body">                
                <table id="dTable" class="table dt-responsive table-condensed table-bordered table-striped" width="100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CodigoPresupuesto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TipoComprobante)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Codigo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaComprobante)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RazonSocial)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Total)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Saldo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Saldo_Porcentaje)
                            </th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CodigoPresupuesto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoComprobante)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Codigo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaComprobante)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RazonSocial)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Total)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Saldo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Saldo_Porcentaje)
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary btn-sm" asp-action="EntregarProducto" asp-route-id="@item.Id" ><i class="fa fa-search"></i></a>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>

                    
                </table>
            </div>            
        </div>
    </section>
</div>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {

            $('#dTable').DataTable({
                "processing": "true",
                "retrieve": "true",
                "language": {
                    "processing": "Procesando... Espere por favor",
                    "lengthMenu": "Mostrar _MENU_ registros por pagina",
                    "zeroRecords": "Nada encontrado",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                }
            });
        });

    </script>
}
