@model Gestion.Web.Models.Comprobantes

@{
    ViewData["Title"] = "Detalle del Cliente";
    var cliente = (IEnumerable<ClientesDTO>)ViewData["Clientes"];
    var producto = (IEnumerable<ComprobantesDetalleDTO>)ViewData["Producto"];
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Sistema de gestíon
            <small>Gestion de Clientes</small>
        </h1>
        <ol class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index"><i class="fas fa-tachometer-alt"></i> Inicio</a></li>
            <li><a asp-controller="Clientes" asp-action="Index">Listado de Clientes</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <partial name="_ClienteDetalle" model='@cliente.FirstOrDefault()' />
            </div>
            <div class="col-md-9">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Detalle del @Model.TipoComprobante @Model.Codigo</h3>

                        <a asp-controller="Comprobantes" asp-action="ImputacionesProductos" class="btn btn-default btn-sm pull-right" aria-hidden="true">Volver</a>

                    </div>

                    <partial name="_ProductosImputacion" model='@Model' />
                    <partial name="_ProductosImputa" model='@producto.FirstOrDefault()' />
                    
                    <!-- /.box -->
                    <div class="box-footer">
                        <a asp-controller="Comprobantes" asp-action="ImputacionesProductos" class="btn btn-default btn-sm pull-right" aria-hidden="true">Volver</a>
                    </div>

                </div>
            </div>
        </div>
    <!-- /.row -->
    </section>
    <!-- /.content -->
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    
}
